
.card {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.cardAvatar {
	display: block;
	max-width: 256px;
}

.cardProfileInfo {
	line-height: 22px;
	margin: 0;
	padding: 0;
	width: 256px;
}

.label {
	background: #eee;
	border-radius: 2px;
	margin: 1px 0;
	opacity: .8;
	padding: 2px 4px;
}

.label .title {
	color: #3cb371;
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 3px;
	text-transform: capitalize;
}
.label .value {
	font-weight: 100;
}