
.card {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

h2.cardTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 256px;
}
h2.cardTitle a {
	color: #000;
	font-size: 14px;
	text-decoration: none;
}

.cardAvatar {
	display: block;
	max-width: 256px;
}

.cardProfileInfo {
	line-height: 22px;
	margin: 0;
	padding: 0;
	width: 256px;
}

.label {
	background: #eee;
	border-radius: 2px;
	margin: 1px 0;
	opacity: .8;
	padding: 2px 4px;
}

.label .title {
	display: block;
	margin: 0;
	margin-bottom: 3px;
	
}
.label .value {
	font-weight: 100;
}

:global .is-highlighted {
	color: #3cb371;
	font-size: 12px;
	font-weight: 600;
	text-transform: capitalize;
}